{% extends "layout.html" %}

{% block title%}
    Sell
{% endblock%}

{% block main%}
    <form action="/sell" method="post">
        <div class="row justify-content-center mx-auto g-3 mb-5">
            <div class="col-md-3">
                <label class="form-label">Stock symbol</label>
                <select class="form-select mx-auto" name="symbol">
                    <option disabled selected>Symbol...</option>
                    {% for owned_stock in owned_stocks %}
                        <option value="{{ owned_stock }}">{{ owned_stock }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-1">
                <label class="form-label">Quantity</label>
                <input autocomplete="off" class="form-control" id="shares" name="shares" type="number" min="1">
            </div>
        </div>
        <div class="d-grid col-3 mx-auto mb-5">
            <button class="btn btn-primary" type="submit">Sell</button>
        </div>
    </form>

{% endblock %}